<nav class="navbar navbar-expand-lg border-bottom bg-dark bg-gradient" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">QuizMania</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Catégories
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <li *ngFor="let category of categories"><a class="dropdown-item" href="#">{{category.name}}</a></li>
          </ul>
        </li>

        <li class="nav-item">
          <a class="nav-link"  routerLink="/quizz/games/custom-quiz">Quiz personnalisée</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/quizz/faq">FAQs</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" routerLink="/quizz/about">A propos</a>
        </li>

      </ul>

      <div class="navbar-nav d-flex me-3">
        <div *ngIf="authenticated.isAuth(); else login" class="d-flex flex-wrap flex-lg-nowrap">
          <a class="noUnderline text-light dropdown-toggle px-3" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            <ng-template [ngIf]="authenticated.getUser()?.filename" [ngIfElse]="defaultAvatar">
              <img [src]="API_URL_AUTH + authenticated.getUser()?.filename" alt="Avatar" height="50"
                class="rounded mr-4" />
            </ng-template>

            <ng-template #defaultAvatar>
              <img src="assets/images/icones/connexion.png" alt="Avatar" height="50" class="mr-3">
            </ng-template>
            <!-- {{authenticated.getUser()?.pseudo}} -->
          </a>

          <ul class="dropdown-menu dropdown-menu-start dropdown-menu-lg-end" aria-labelledby="dropdownMenuLink">
            <div>
              <h6 class="dropdown-header">Connecté en tant que</h6>
              <li>
                <p class="px-2 ftsz-9 text-center text-secondary">
                  {{authenticated.getUser()?.email}}</p>
              </li>
            </div>

            <!-- USER PROFIL -->
            <span
              class="dropdown-item bg-info bg-opacity-10 border border-info border-start-0 border-end-0 py-2 fw-semibold">Espace
              personnel
            </span>

            <li>
              <a class="dropdown-item ftsz-9" [routerLink]="['/back-office/utilisateur/profil']">Afficher mon
                profil</a>
            </li>
            <li>
              <a class="dropdown-item ftsz-9" [routerLink]="['/back-office/utilisateur/profil/editer']">Mettre à
                jour mon profil</a>
            </li>
            <li>
              <a class="dropdown-item ftsz-9" [routerLink]="['/back-office/utilisateur/profil/mdp/editer']">Changer de
                mot de passe</a>
            </li>
            
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item ftsz-9" [routerLink]="['/back-office/utilisateur/profil/mdp/editer']">Historique</a>
            </li>

            <!-- BACK OFFICE ADMINISTRATEUR -->
            <ng-template [ngIf]="authenticated.isAdmin()">
              <span
                class="dropdown-item bg-info bg-opacity-10 border border-info border-start-0 border-end-0 py-2 fw-semibold">Espace
                administrateur
              </span>
            </ng-template>

            <!-- DECONNEXION -->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item ftsz-9 fw-bold" href="#" (click)="logout()">Déconnexion</a>
            </li>
          </ul>
        </div>

        <ng-template #login>
          <a [routerLink]="['/securite/authentification']">
            <img src="assets/images/icones/connexion.png" alt="Avatar" height="50">
          </a>
        </ng-template>
      </div>
    </div>
  </div>
</nav>